html,
body {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
  display: flex;
  gap: 1rem;
  align-items: center;
}
