<form class="row" [formGroup]="stopwatchForm" *ngIf="{ value: stopwatch$ | async } as stopwatch">
  <app-text-field
    placeholder="short and simple name."
    label="name"
    size="50"
    formControlName="name"
    icon="tasklist"
  ></app-text-field>
  <app-text-area
    placeholder="describe the entry."
    label="description"
    formControlName="desc"
  ></app-text-area>
  <app-text-field
    [disabled]="!!stopwatch.value"
    label="offset in minutes"
    size="50"
    formControlName="elapsedInMin"
    icon="watch"
    type="number"
  ></app-text-field>

  <vscode-button
    *ngIf="!stopwatch.value; else confirm"
    (click)="onAdd()"
    appearance="icon"
    [disabled]="stopwatchForm.invalid"
  >
    <span class="icon"><i class="codicon codicon-add"></i></span>
  </vscode-button>
  <ng-template #confirm>
    <div class="edit-actions">
      <vscode-button (click)="onConfirm()" appearance="icon" [disabled]="stopwatchForm.invalid">
        <span class="icon"><i class="codicon codicon-check"></i></span>
      </vscode-button>
      <vscode-button (click)="onCancelEdit()" appearance="icon">
        <span class="icon"><i class="codicon codicon-discard"></i></span>
      </vscode-button>
    </div>
  </ng-template>
</form>
