.container {
  display: flex;
  flex-direction: column;
  margin-block-end: 3rem;
}

.container > .row:first-child {
  justify-content: space-between;
}

vscode-button {
  margin-inline: 0.3rem;
  width: 42px;
  height: 27px;
}

.actions {
  display: flex;
  align-items: center;
}
